server {
    listen 80;
    server_name _;

    root /var/www/ork.amtgard.com;
    index index.htm index.html index.php;

    add_header Access-Control-Allow-Origin *;

    location / {
	try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php8.1-fpm.sock;
    }

    location ~* \.(jpg|gif|png) {
        add_header Cache-Control "public, max-age=300, must-revalidate";
    } 

    location ~* orkui.js {
        add_header Cache-Control "public, max-age=300, must-revalidate";
    } 
    location ~* orkui.css {
        add_header Cache-Control "public, max-age=300, must-revalidate";
    } 
}