<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ORK3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ORK3.Properties.Settings>
            <setting name="ORK3_AuthorizationService_AuthorizationService"
                serializeAs="String">
                <value>http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php</value>
            </setting>
        </ORK3.Properties.Settings>
    </applicationSettings>
</configuration>