<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestServices.Properties.Settings>
            <setting name="TestServices_AuthorizationService_AuthorizationService"
                serializeAs="String">
                <value>http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php</value>
            </setting>
            <setting name="TestServices_ReportService_ReportService" serializeAs="String">
                <value>http://www.amtgard-wl.com/ork3/dev/orkservice/Report/ReportService.php</value>
            </setting>
            <setting name="TestServices_KingdomService_KingdomService" serializeAs="String">
                <value>http://www.amtgard-wl.com/ork3/dev/orkservice/Kingdom/KingdomService.php</value>
            </setting>
            <setting name="TestServices_ParkServcie_ParkService" serializeAs="String">
                <value>http://www.amtgard-wl.com/ork3/dev/orkservice/Park/ParkService.php</value>
            </setting>
            <setting name="TestServices_AttendanceService_AttendanceService"
                serializeAs="String">
                <value>http://www.amtgard-ork.org/ork3/dev/orkservice/Attendance/AttendanceService.php</value>
            </setting>
        </TestServices.Properties.Settings>
    </applicationSettings>
</configuration>